

.Guerreiros{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.5rem
}
    .goku {
        background-color: #F0833A;
    }
    .vegeta {
        background-color: #2A52BE;
    }
    .gohan{
        background-color: #8A2BE2;
    }
    .cell{
        background-color: #385836;
    }
    .friezarace{
        background-color: #EAEAEA;
    }
    .saiyan {
        background-color: #FFD700;
    }
    .human{
        background-color: #FFDAB9;
    }
    .namekian{
        background-color: #4CAF50;
    }
    .android{
        background-color: #87CEFA; 
    }
    .evil{
        background-color: #8B0000;
    }
    .god{
        background-color: #4B0082;
    }
    .majin{
        background-color: #FF007F;
    }
    .angel{
        background-color: #00FFFF;
    }
    .nucleicobenigno{
        background-color: #E3006F;
    }
.Guerreiro{
    margin: .5rem;
    padding: 1rem 1rem;
    padding-right: 0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    
}

.Guerreiro .detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Guerreiro .detail .stats {
    list-style: none;
    padding: 0;
    padding-top: 20px;
    margin: 0;
    font-size: .5rem;
}
.Guerreiro .detail .stats .stat{
    padding: .5rem .25rem;
    margin: .2rem;
    align-items: center;
    border-radius: 1rem;
    font-weight: bold;
    filter: brightness(0.9);
}
.Guerreiro .detail img{
    border-style: none;
    max-height: 100%;
    height: 150px;
    align-self: flex-end;
}
.add{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.add button{
    background-color: #e32b2b;
    font-weight: bold;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
.novo-guerreiro {
    background-color: #f1f1f1;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.novo-guerreiro form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.novo-guerreiro input, .novo-guerreiro textarea, .novo-guerreiro select {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.novo-guerreiro button {
    background-color: #e32b2b;
    color: white;
    font-weight: bold;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
.hidden{
    display: none;
}
@media screen and (min-width: 380px){
    .Guerreiros {
      max-width: 576px;
    grid-template-columns: 1fr 1fr;
    }
} 
@media screen and (min-width: 576px){
    .Guerreiros {
      max-width: 576px;
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 992px){
    .Guerreiros {
     grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}